<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>

<body>
    <div class="container">
      <div class="goldbox" > <label class="goldtext">Your Gold:</label><span class="totalGold" >{{request.session.gold}}</span></div> 

      <div class="display">
    <form method="post" action="process">
        {% csrf_token %}
        <div class="box1">
            <h3>Farm</h3>
            <input type="hidden" name="which_game" value="farm">
            <p>(earns 10-20 gold)</p>
            <button class="findgold" >Find Gold!</button>
        </div>
            
        </form>
        <form method="post" action="process">
            {% csrf_token %}
        <div class="box2">
            <h3>Cave</h3>
            <input type="hidden" name="which_game" value="cave">
            <p>(earns 10-20 gold)</p>
            <button class="findgold"  >Find Gold!</button>
        </div>
        </form>


        <form method="post" action="process">
            {% csrf_token %}
        <div class="box3">
            <h3>House</h3>
            <input type="hidden" name="which_game" value="house">
            <p>(earns 10-20 gold)</p>
            <button class="findgold" >Find Gold!</button>
        </div>
        </form>

        <form method="post" action="process">
            {% csrf_token %}
        <div class="box4">
            <h3>Quest</h3>
            <input type="hidden" name="which_game" value="quest">
            <p>(earns/takes 0-50 gold)</p>
            <button  class="findgold" >Find Gold!</button>
        </div>
        </form>
    </div>



<div>
    <h2>Activities:</h2>
    
    <textarea name="" id="" cols="100" rows="15">
        
        {%for i in request.session.activities%}
            {{i}}
        
        {% endfor %}

        
    </textarea>
    
</div>

<div>
    <form action="destroy", method="post">
        {% csrf_token %}
        <button class="end" >End the Game!</button>
    </form>
</div>

    </div>

        
        
    
</body>
</html>