<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <div class="container">
        <section>
           
        <div class="firstform" >
            <h2>Add a Dojo!</h2>
            <form action="adddojo"  method="post" >
                {% csrf_token %}
                <p>Name: <input type="text" name="dojoname"> </p>
                <p>City: <input type="text" name="dojocity"> </p>
                <p>State: <input type="text" name="dojostate"> </p>
                <button class="add1" >Add</button>

            </form>

        </div>


        <div class="secondform">
            <h2>Add a Ninja!</h2>
            <form action="addninja" method="post"  >
                {% csrf_token %}
                <p>First Name: <input type="text" name="ninjafirstname"> </p>
                <p>Last Name: <input type="text" name="ninjalastname"> </p>
                <select name="selectdojo" >
                    {%for dojo in dojos%}

                    <option value="{{dojo.id}}">{{dojo.name}}</option>

                    {%endfor%}

                </select>

                <div><button class="add2" >Add</button></div>

            </form>

        </div>

    </section>

        <hr>
    <div  class="datatable">
        <h2>All the Dojos!!!</h2>
        
       
        {%for dojo in dojos%}

        <ul>Ninjas at {{dojo.name}}
        
        {%for ninja in dojo.ninjas.all%}
        <li>{{ninja.first_name}} {{ninja.last_name}}</li>
        {%endfor%}
       
    </ul>
    {%endfor%}


    </div>






    </div>
    
</body>
</html>