<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div  class="container">
        <form action="/info" method="post">
        <p>your Name:   <input type="text" name="name"></p>
        <div><label >Your Location</label>
            <select name="select" id="select">
                <option value="San Jose">San Jose</option>
                <option value="Palestine">Palestine</option>

            </select>
        </div>

        <div>
            <label>Favorite language</label>
            <select name="select2" id="select2">
                <option value="python">Python</option>
                <option value="java">Java</option>
            </select>
        </div>

        <p>Comment (optional)</p>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>

        <div><button>Submit</button></div>
    </form>

    </div>
</body>
</html>